[Unit]
Description=PixelWise Go API
After=network.target postgresql.service

[Service]
User=produser
WorkingDirectory=/opt/pixelwise-go
EnvironmentFile=/opt/pixelwise-go/.env
ExecStart=/opt/pixelwise-go/pixelwise-go
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target